<div class="text-center">
  <h1>Bienvenue</h1>
    <div class="container shadow p-3 mb-5 bg-white rounded d-flex justify-content-between">
    <p>Salut à toi petit absent. Quelques soit les raisons de ton absence,
    nous n'en tiendrons pas compte ici, on est là pour t'aider à récupérer ce cours que tu n'as pas pu prendre.
    Notre site est basé sur les principes de l'alchimie. Pour recevoir quelque chose tu dois en donner quelque chose d'une valeur équivalente.
    Donc pour récupérer des cours il va falloir en partager. En espérant pouvoir répondre à tes attentes, nous te souhaitons une bonne continuation.</p>
  </div>
</div>
