<p id="notice"><%= notice %></p>

<div class="container">
 <% @lessons.each do |lesson|%>

 <%= link_to lesson do %>

   <div class="shadow p-3 mb-5 bg-white rounded d-flex justify-content-between">
     <div>
     <h2><%= lesson.title %></h2>
   </div>
    <% end %>
  <% end %>
